body {
    background-image: url('/Content/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }

.container .text-muted {
  margin: 20px 0;
}
.darklink {
    color: white;
}
.darklink:hover {
    color: white;
}